<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smoothing_filter_order</key>
	<real>10.000000</real>
	<key>thresh_ampl_uv</key>
	<real>30.000000</real>
	<key>thresh_dur_sec</key>
	<real>5.000000</real>
	<key>thresh_slope</key>
	<real>248.000000</real>
	<key>merge_within_sec</key>
	<real>0.100000</real>
</dict>
</plist>