<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>threshold_high_uV</key>
	<real>35.000000</real>
	<key>threshold_low_uV</key>
	<real>10.000000</real>
	<key>merge_within_sec</key>
	<real>0.050000</real>
	<key>average_power_window_sec</key>
	<real>30.000000</real>
	<key>noisefloor_uV_to_turnoff_detection</key>
	<real>50.000000</real>
	<key>min_duration_sec</key>
	<real>0.100000</real>
	<key>use_summer</key>
	<real>0.000000</real>
</dict>
</plist>