<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<real>5.000000</real>
	<key>sigma</key>
	<real>0.010000</real>
	<key>lambda</key>
	<real>0.995000</real>
	<key>samples2delay</key>
	<real>0.000000</real>
</dict>
</plist>